In [2]:
job_list = ['Data Analyst', 'Business Data Analyst', 'Marketing Data Analyst', 'Financial Data Analyst', 'Healthcare Data Analyst', 'Sales Data Analyst', 'Operations Data Analyst', 'Risk Data Analyst', 'Product Data Analyst', 'Customer Data Analyst',  
'Data Scientist', 'Machine Learning Engineer', 'AI Engineer', 'Deep Learning Engineer', 'NLP Engineer', 'Computer Vision Engineer', 'Data Science Consultant', 'Predictive Analytics Specialist', 'Fraud Detection Analyst', 'Research Scientist',  
'Data Engineer', 'Big Data Engineer', 'ETL Developer', 'Database Engineer', 'Cloud Data Engineer', 'Data Pipeline Engineer', 'Hadoop Engineer', 'Data Architect', 'BI Engineer', 'Platform Engineer']

Gathering only analysit jobs :

In [5]:
analyst_list = []
for job in job_list:
    if 'Data Analyst' in job:
        analyst_list.append(job)
analyst_list

['Data Analyst',
 'Business Data Analyst',
 'Marketing Data Analyst',
 'Financial Data Analyst',
 'Healthcare Data Analyst',
 'Sales Data Analyst',
 'Operations Data Analyst',
 'Risk Data Analyst',
 'Product Data Analyst',
 'Customer Data Analyst']

Numbers (int):

In [6]:
numbers = [0,1,2,3,4,5,6,7,8,9]
for number in numbers:
    print(number)

0
1
2
3
4
5
6
7
8
9

Strings(str):

In [7]:
word = 'PowerBi'
for character in word:
    print(character)

P
o
w
e
r
B
i

In [9]:
years_experience = {
    'Reda' : 4,
    'Amal' : 2,
    'Aziz' : 19,
    'Nouhila' : 0
}
for key, value in years_experience.items(): # in dict you can use items() to return key and value at once or you can use values() to return value or keys() to return key
    if value > 2 :
        print(key, 'has', value, 'years of experience')

Reda has 4 years of experience
Aziz has 19 years of experience

List Comprehension:

In [12]:
numbers = [x/2 for x in range(10)] #again you can use Dict,Sets,Tuples,Lists and also Str
numbers

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [14]:
word = [x for x in 'PYTHON']
word

['P', 'Y', 'T', 'H', 'O', 'N']

Example:

In [15]:
# analyst_list = []
# for job in job_list:
#     if 'Data Analyst' in job:
#         analyst_list.append(job)
# analyst_list

analyst_list = [job for job in job_list if  'Data Analyst' in job]
analyst_list

['Data Analyst',
 'Business Data Analyst',
 'Marketing Data Analyst',
 'Financial Data Analyst',
 'Healthcare Data Analyst',
 'Sales Data Analyst',
 'Operations Data Analyst',
 'Risk Data Analyst',
 'Product Data Analyst',
 'Customer Data Analyst']