In [ ]:
import pandas as pd
from datasets import load_dataset

# Loading Dataset
datasets = load_dataset("lukebarousse/data_jobs")
df = datasets['train'].to_pandas()

# Cleaning Datasets
pd.to_datetime(df['job_posted_date'])

#Updating the dataset
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\ProgramData\anaconda3\envs\learning_python\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df['job_country'].value_counts().head(20)

job_country
United States     206292
India              51088
United Kingdom     40375
France             39922
Germany            27694
Spain              25100
Singapore          23696
Sudan              21781
Netherlands        20631
Italy              17013
Canada             16029
Mexico             15139
Poland             14793
Portugal           14508
Australia          12955
South Africa       12414
Belgium            12078
Philippines        11786
Ireland            11162
Switzerland         9924
Name: count, dtype: int64

## Check if a country in the list:

In [ ]:
df['job_country'].isin(['Brazil']).any() 
#Isin function to check if the country is in the dataset and any function to check if it is present

True

## Create new dataframe:

In [15]:
# choosing only the usa datasets
us_jobs = df[df['job_country'] == 'United States']

In [ ]:
# Removing nonvalues for salary_year_avg
# Updating the dataframe 

us_jobs = us_jobs[us_jobs['salary_year_avg'].notna()]

In [26]:
# Grouping by job_title_short
# Agg by 'min','max','median','count'
# Order by median DSEC

us_jobs.groupby('job_title_short')['salary_year_avg'].agg(['min','max','median','count']).sort_values(by='median', ascending=False)

                               min       max    median  count
job_title_short
Senior Data Scientist      55000.0  475000.0  155000.0   1241
Machine Learning Engineer  44408.5  315000.0  150000.0    128
Senior Data Engineer       45000.0  375000.0  150000.0   1058
Data Scientist             30000.0  960000.0  130000.0   4553
Software Engineer          48982.0  375000.0  130000.0    157
Data Engineer              23496.0  525000.0  125000.0   2915
Cloud Engineer             42000.0  221844.0  116100.0     20
Senior Data Analyst        35360.0  425000.0  110000.0    913
Business Analyst           35000.0  387460.0   90000.0    431
Data Analyst               25000.0  375000.0   90000.0   4350