In [1]:
# concat is a function that stack dataframe above each other 
# you can use it whne you have datasets of months salary like jan,feb,...etc and you want to put them in one file to analyze
# you can use concat for it

In [2]:
import pandas as pd
from datasets import load_dataset
from matplotlib import pyplot as plt
# Loading Dataset
datasets = load_dataset("lukebarousse/data_jobs")
df = datasets['train'].to_pandas()

# Cleaning Datasets
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [3]:
# Sample dataset of job postings in January
job_postings_jan = pd.DataFrame({
    'job_id': [1, 2, 3, 4, 5],
    'job_title': ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Scientist', 'Data Engineer'],
    'company': ['Company A', 'Company B', 'Company C', 'Company D', 'Company E'],
    'job_posted_date': pd.to_datetime(['2024-01-02', '2024-01-07', '2024-01-14', '2024-01-19', '2024-01-24'])
})

job_postings_jan

   job_id                  job_title    company job_posted_date
0       1             Data Scientist  Company A      2024-01-02
1       2               Data Analyst  Company B      2024-01-07
2       3  Machine Learning Engineer  Company C      2024-01-14
3       4             Data Scientist  Company D      2024-01-19
4       5              Data Engineer  Company E      2024-01-24

In [4]:
# Sample dataset of job postings in February
job_postings_feb = pd.DataFrame({
    'job_id': [6, 7, 8, 9, 10],
    'job_title': ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Scientist', 'Data Engineer'],
    'company': ['Company F', 'Company G', 'Company H', 'Company I', 'Company J'],
    'job_posted_date': pd.to_datetime(['2024-02-05', '2024-02-09', '2024-02-12', '2024-02-18', '2024-02-22'])
})

job_postings_feb

   job_id                  job_title    company job_posted_date
0       6             Data Scientist  Company F      2024-02-05
1       7               Data Analyst  Company G      2024-02-09
2       8  Machine Learning Engineer  Company H      2024-02-12
3       9             Data Scientist  Company I      2024-02-18
4      10              Data Engineer  Company J      2024-02-22

In [6]:
pd.concat([job_postings_jan,job_postings_feb], ignore_index=True)

   job_id                  job_title    company job_posted_date
0       1             Data Scientist  Company A      2024-01-02
1       2               Data Analyst  Company B      2024-01-07
2       3  Machine Learning Engineer  Company C      2024-01-14
3       4             Data Scientist  Company D      2024-01-19
4       5              Data Engineer  Company E      2024-01-24
5       6             Data Scientist  Company F      2024-02-05
6       7               Data Analyst  Company G      2024-02-09
7       8  Machine Learning Engineer  Company H      2024-02-12
8       9             Data Scientist  Company I      2024-02-18
9      10              Data Engineer  Company J      2024-02-22