In [4]:
import pandas as pd
from datasets import load_dataset

# Loading Dataset
datasets = load_dataset("lukebarousse/data_jobs")
df = datasets['train'].to_pandas()

# Cleaning Datasets
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

## Filling The Empty Columns:

In [9]:
#  so we descover that in salar_year_avg column and salary_hour_avg we have some NA values and we can use median to fill them
median_year = df['salary_year_avg'].median()
median_hour = df['salary_hour_avg'].median()

df_filled = df 

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_year)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_hour)

df_filled.loc[:10, 'salary_rate':'salary_hour_avg']

   salary_rate  salary_year_avg  salary_hour_avg
0         None         115000.0            45.98
1         None         115000.0            45.98
2         None         115000.0            45.98
3         None         115000.0            45.98
4         None         115000.0            45.98
5         None         115000.0            45.98
6         None         115000.0            45.98
7         None         115000.0            45.98
8         None         115000.0            45.98
9         None         115000.0            45.98
10        None         115000.0            45.98

## Drop Duplicates:

In [14]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()

print('Rows Removed', len(df_filled) - len(df_unique))

Rows Removed 101

In [15]:
# also you can specific a column that you want to drop based on it, 
# for example we will drop ased on job_title cuz its unique and more specific than job_title_short
# also based on company cuz sometimes campany insert multipale job posting with the same job but diffrent name


df_unique = df_unique.drop_duplicates(subset=['job_title','company_name'])
print('Rows Removed', len(df_filled) - len(df_unique))

Rows Removed 277699